@model TodosList.Models.Todos

@{
    ViewData["Title"] = "Edit Todo";
}

<h1>Edit</h1>

<p>Movie</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label mb-2 mt-4"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label mb-2 mt-4"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Back to TodosList</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
